/*************************************/
/* BELOW  544px (Phones)*/
/************************************/

/* 550/16 = 34 em */
@media (max-width: 34em) {

  html {
    
    font-size: 50%;
  }
  .container{
   
    margin: 3rem auto;
    flex-direction: column-reverse;
    
  }

  .content-header{
    flex-direction: column;
    font-size:1rem;
    margin:1rem ;
    gap: 1rem;
    
    
  }

  .content-menu{
    gap:0 ;
  
  }

  .sidebar{
  
    flex-direction: column;
    height: 100%;
  }
  .sidebar-brand ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
  }

  .sidebar-menu li a{
    padding: 1rem;
    align-items: center;
    column-gap:2px ;
    margin: 0 5rem  ;
   
  }
}